* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #F2F3F4;
}

/*.MuiButtonBase-root {*/
/*  box-shadow: none;*/
/*}*/

/*.mui-style-106i0hp-MuiButtonBase-root-MuiButton-root:hover,*/
/*.mui-style-182hcph-MuiButtonBase-root-MuiButton-root:hover {*/
/*  box-shadow: none !important;*/
/*}*/
